:root {
  --desc-text-color: #757575;
  --bg-button-color: #2196f3;
  --button-color: #ffffff;
  --nav-color: #212121;
}
body {
  background-color: #ffffff;
  color: var(--nav-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
.name-company .text {
  color: #2196f3;
  font-family: Raleway;
}
.name-company {
  color: #000000;
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav a {
  color: var(--nav-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact a {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact :hover,
.contact :focus {
  color: #2196f3;
}
.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}
.feature-list .text {
  color: var(--desc-text-color);
}
.button {
  color: var(--button-color);
  background-color: var(--bg-button-color);
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
}
.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
